html{
  font-weight: 300;
  font-family: "myriad-pro";
}

a{
  cursor: pointer;
}

/* Font Helpers */
.green{
  color: #7b894e;
}

.blue{
  color: #304b5d;
}

.bold{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.ltgreen-back{
  background-color: #5ba946;
}

.ltgreen-text{
  color: #5ba946;
}

.green-back{
  background-color: #5ba946 !important;
  border-left: solid 30px #377036;
}

.leftside-alignment{
  padding-left: 30px !important;
}

/* Header styles */
.header{
    padding: 0px 30px;
}

.nav-wrap{
  width: 100%;
  background-color: #e5eaee;
}

.nav-wrap li.active{
  background-color: #eedda4;
}

.nav-wrap > .navigation{
  width: 1225px;
  margin: 0 auto;
  float: none;
}
.time{
  padding: 25px 0px;
}

.header ul{
  display: table;
}

.header li{
  display: table-cell;
}

.header p{
  margin: 0px;
  font-size: 14px;
}

.right-utility li{
  float: left;
  border-left: 3px solid #7b894e;
  padding-left: 20px;
}

.right-utility ul{
  padding-left: 0px;
}

.left-utility li{
  float: right;
}

.left-utility ul{
  padding-left: 0px;
}

/* Frontpage styles */
.midpage-float{
  background-color: rgba(255,255,255,0.82);
  padding: 5px;
  min-height: 370px;
}

.midpage-float h1{
  background-color: #0A2337;
  color: #fff;
  font-weight: 300;
  font-size: 26px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.midpage-float h1 a{
  color: white;
  cursor: pointer;
}

.midpage-float h1 a:hover{
  text-decoration: none;
}

.midpage-float p{
  font-style: italic;
  padding: 5px 15px 25px;
  font-size: 18px;
  line-height: 30px;
}

.midsection{
  background-color: #eeefe6;
  border-top: 20px solid #7b894e;
  padding-bottom: 30px;
  margin-bottom: 2px;
  padding-top: 20px;
  border-bottom: 3px solid #7b894e;
}

.midsection h1{
  font-size: 36px;
}

.midsection p{
  font-size: 26px;
}

.interior p{
  font-size: 18px !important;
}

.interior-gallery-content > div{
  height: 170px;
  display: table-cell;
}

#hero-statement{
  text-align: center;
  margin-bottom: 60px;
  background-color: rgba(10, 35, 55, 0.3);
}

#background-parallax{
  background-image: url("../imgs/background.jpg");
}

.mulch-chart p{
  font-size: 14px !important;
  text-align: center;
  height: 30px;
}

.calc-link img{
  margin-right: 5px;
  width: 36px;
}

.calc-link{
  font-size: 20px;
  color: #377036;
}

.calc-link:hover{
  color: #5ba946;
  text-decoration: none;
}

.accessories-link{
  background-color: #377036;
  color:3fff;
  padding: 2px 4px;
  width: 45%;
  font-size: 14px !important;
  color: #fff;
}

.accessories-link:hover{
  text-decoration: none;
  color:#fff;
}

.acc-arrow{
  color: #5ba946;
  font-size: 20px !important;
}

.product-link{
  font-weight: 600;
  font-size: 16px;
}

/* Landscape Slider */
#bx-pager a img{
  height: 80px;
  max-width: 96px;
  margin: 1px;
}

.bx-wrapper{
  width: 66%;
}

.bxslider li img{
  height: 350px;
  margin: 0 auto;
}

/* Navigation */
.navigation{
	margin: 0px;
	padding: 0px;
	float: right;
	display: table;
  background-color: #e5eaee;
}

.navigation li{
  float: left;
  display: table-cell;
  margin-left: 0px;
  font-size: 21px;
  font-weight: 300;
  padding: 10px 8px;
}

.navigation li a{
  color: #000;
}

.navigation li a:hover{
  text-decoration: none;
}

.navigation li.currentnav{
	background-color: #9c1523;
}

/* Parallax stylings */
.parallax {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-group {
  position: relative;
  transform-style: preserve-3d;
}

.parallax-layer-base {
  transform: translateZ(0);
}

.parallax-layer-back {
  height: 100vh;
  background: url(../imgs/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* End Parallax */

/* Interior Stylings */
.interior h1{
  background-color: #0A2337;
  color: #fff;
  font-weight: 300;
  font-size: 23px;
  padding: 5px 10px;
  width: 50%;
  margin-bottom: 0px;
}

.interior-content{
  background-color: rgba(255,255,255,0.82);
  padding: 10px;
  margin-bottom: 20px;
  min-height: 283px;
}

.interior-gallery-content{
  background-color: rgba(255,255,255,0.82);
  padding: 10px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}

.interior h3{
  font-size: 30px;
}

.interior .midsection p{
  font-size: 18px;
}

.interior-content p{
  font-size: 20px;

}

.distributors{
  height: 250px;
}

.calculator button{
  margin: 20px 10px 0px;
  width: 120px;
}

.youtube-container{
  width: 100%;
  text-align: center;
}

.youtube-container a{
  cursor: pointer;
  color: #377036;
}

.youtube-container a:hover{
  text-decoration: none;
}
/* End Interior Stylings */

/* Footer Styling */
.footer{
  color: #fff;
  font-weight: 300;
  background-color: #18384b;
  padding-bottom: 30px;
}

.footer h1{
  font-size: 18px;
}

.footer p{
  margin: 0px;
}

.footer-left{
  border-right: 1px solid #fff;
  margin-top: 15px;
}

.footer-mid{
  border-right: 1px solid #fff;
  margin-top: 15px;
}

.footer-right{
  margin-top: 15px;
}

.footer-right h1{
  margin-bottom: 0px;
}

.footer-nav{
  display: table;
  margin-top: 20px;
}

.footer-nav li{
  display: table-cell;
  float: left;
}

.footer-nav li a{
  color: #fff;
}

.footer-nav li a:hover{
  text-decoration: none;
}

.facebook a{
  padding-right: 10px;
}

/* Parallax area ids */
#parallax-1{
  height: auto;
}

#parallax-background{
  height: 0vh;
}

#parallax-2{
  height: 100vh;
}

/* Media Queries */

/* Mobile Styles */
@media (max-width: 767px){
  .footer-left{
    border: none;
  }
  .footer-mid{
    border: none;
  }

  .header{
      padding: 0px;
  }

  .footer-nav{
    padding-lefT: 0px;
  }

  .parallax-layer{
    position: relative;
  }

  .midpage-float{
    height: auto;
  }

  #parallax-1{
    height: auto;
    padding: 10px;
  }

  #parallax-2{
    height: auto;
  }

  #hero-statement{
    margin-bottom: 0px;
  }

  .midpage-float{
    background-color: rgba(255,255,255,0.0);
  }

  .parallax{
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
  }

  .mobile-backtotop{
	float: right;
	color: #fff;
	text-decoration: none;
	display: none;
}

.mobile-backtotop:hover{
	text-decoration: none;
	color: white;
}

.green-back{
  background-color: #5ba946 !important;
  border-left: solid 0px #377036;
}

.leftside-alignment{
  padding-left: 5px !important;
}

  #mobile-content-wrap{
    background-color: rgba(255,255,255,0.4);
  }
}
/* Portrait Tablet Styles */
@media (min-width: 768px) and (max-width: 991px){
  .nav-wrap > .navigation{
    width: 880px;
  }
  .navigation li{
    font-size: 14px;
    padding: 10px 4px;
  }
  .right-utility li{
    padding-left: 5px;
  }
  .left-utility{
    width: 32% !important;
  }
  .right-utility{
    width: 68% !important;
  }
  .header{
      padding: 0px;
  }
  .green-back{
    background-color: #5ba946 !important;
    border-left: solid 0px #377036;
  }

  .leftside-alignment{
    padding-left: 0px !important;
  }
}

/* Floating Coupon */
.coupon{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  color: #fff;
  height: 130px;
  background-color: #5ba946;

  -webkit-box-shadow: 3px 3px 15px 1px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 15px 1px #000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 15px 1px #000;

  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.coupon h1{
  font-size: 26px;
  margin: 5px 5px 10px 15px;
}

.coupon p{
  margin-left: 15px;
}

.coupon a{
  text-decoration: none;
  color: white;
}

.coupon .left{
  float: left;
  width: 125px;
}

.coupon > .border-right{
  color: #fff;
  background-color: #377036;
  float: right;
  width: 15px;
  height: 100%;
  padding: 2px 1px 2px 2px;
  cursor: pointer;

  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.coupon .border-right .handle-bar{
  height: 20px;
  display: block;
  width: 2px;
  margin: 0px 2px 0px 0px;
  background: #fff;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Tablet styles landscape */
@media (min-width: 992px) and (max-width: 1199px){
  .nav-wrap > .navigation{
    width: 1000px;
  }

  .header{
      padding: 0px;
  }


  .navigation li{
    font-size: 15px;
  }

  .left-utility{
    width: 30% !important;
  }

  .green-back{
    background-color: #5ba946 !important;
    border-left: solid 0px #377036;
  }

  .leftside-alignment{
    padding-left: 2px !important;
  }
}
